<div class="container mt-5">
    <h1 class="mb-3 display-2">List of Todos</h1>
    <hr>
    <table class="table table-hover table-bordered text-center">
        <thead class="table-secondary">
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Target Completion Date</th>
                <th>Is Completed?</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.id}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date}}</td>
                <td [class.table-success]="todo.isDone" [class.table-danger]="!todo.isDone">{{todo.isDone ? "True" :
                    "False"}}</td>
                <td><button class="btn btn-info" (click)="openUpdateModal(modalTemplateUpdate)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteTodo(todo.ownedUser, todo.id)">Remove</button></td>
                <ng-template #modalTemplateUpdate>
                    <app-update-modal [dataFromParent]="modalRef" [todo]="todo" (todoChange)="updateTodo($event)">
                    </app-update-modal>
                </ng-template>


            </tr>
        </tbody>
    </table>

    <ng-template #modalTemplateCreate>
        <app-create-modal [dataFromParent]="modalRef" (todoChange)="createTodo($event)">
        </app-create-modal>
    </ng-template>
    <button class="btn btn-success" (click)="openCreateModal(modalTemplateCreate)">+</button>
</div>